#tablero {
    display:grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    align-self: center;
    
}

#tablero div {
    background-color:blue;
    border: 1px solid rgb(238, 13, 13);
    

}

